# ignore everything
*

# but not these files and subdirectories
!.gitignore
!CMakeLists.txt
!README.md
!Doxyfile
# src directory descendants
!src/
!*.[hc]
!/src/**/
# test directory descendants
!test/
# doc directory descendants
!doc/
!*.docx
!*.pdf
!*.jpg
